body {
  background-repeat: repeat;
  background-position: center center;
  font-family: "Corporate-Logo";
}
main {
  background: #fdf1ec;
}

.py-4 {
  background-image: url(../images/bread.png);
  background-size: 15%;
  min-height: 100vh;
  padding-top: 10vh; 
}

h1 {
  padding-bottom: 20px;
}

img {
  width: 110px;
  height: 110px;
  object-fit: cover;
}

.btn {
  display: inline-block;
  padding: .75em 1em;
  border: 2px solid #778ca3;
  border-radius: 3em .5em 2em .5em/.4em 2em .5em 3em;
  color: #333;
  text-decoration: none;
  text-align: center;
}
.btn-group a {
  padding: 0px 20px 0 0px;
  position: relative;
  top: 30px;
}

.fa-bread-slice {
  color: #fff;
  padding-right: 10px;
}
.navbar-laravel {
  background-color: #033560;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  padding: 0;
}
.navbar-brand {
  color: #fff !important;
  font-size: 22px;
}
.nav-item {
  color: #fff !important;
  font-size: 15px;
  position: relative;
  left: 250px;
}
.nav-link a {
  display: inline-block;
  position: relative;
  margin-right: 100px;
  left: 170px;
  list-style: none;
  padding: 10px;
  color: #fff;
  font-size: 15px;
}

.card {
  margin: 50px;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  border: 4px solid #336666;
}
.card-header {
  background-color: #CEF9DC;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
}
.card-body {
  background-color: #FFFFCC;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
}
.login-header {
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  background-color: #DDFFFF;
}

.box {
  padding: 20px 0px;
  margin: auto auto;
  width: 77%;
  color: #033560;
  border: 3px solid #033560;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  background-color: #CEF9DC;
}
.box-edit {
  padding: 20px 0px;
  margin: auto auto;
  width: 77%;
  color: #033560;
  border: 3px solid #033560;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  background-color: #FFDBC9;
}

table {
 width: 100%;
 text-align: center;
 border-collapse: collapse;
 border-spacing: 0;
 border-radius: 10px 10px 10px 10px;
 background-color: #FFFFF0;
}
table th {
 padding: 10px;
 border-bottom: solid 4px #778ca3;
 color: #778ca3
}
table tr {
 padding: 10px;
 border-bottom: solid 4px #778ca3;
}
th p {
  color: #333;
}

.form-select {
  height: 35px;
}

.btn-group {
  border-bottom: none;
}

.text-right a {
  position: relative;
  left: 430px;
}

.radio-inline {
  position: relative;
  left: 30px;
  bottom: 10px;
  margin-right: 20px;
}

ul {
  color: #AA0000;
}

.border {
  color: #033560;
}
.page-item.active .page-link {
  background-color: #FFC0CB;
  border-color: #FFC0CB;
}
.page-item {
  collor: #696969;
}