.header-title-area {
  margin-top: 40px;
  margin-bottom: 30px;
}

.logo {
  font-size: 32px;
  font-family: "Kokoro";
  float: left;
}
.text-sub {
  color: #777;
}

.form-text{
    position: relative;
    top: 25px;
    left: 20px;
    font-size: 14px;
    padding: 10.130px;
    width: 200px;
    float: left;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-border {
  float: left;
  margin-bottom: 6px;
  padding: 5px;
  position: relative;
  left: 20px;
  top: 22px;

  -webkit-transition: all 0.3s;

  transition: all 0.3s;

  border: 2px solid #000;
  background-image: -webkit-repeating-linear-gradient(
    135deg,
    #000,
    #000 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    -45deg,
    #000,
    #000 1px,
    transparent 2px,
    transparent 5px
  );
  background-size: 7px 7px;

  -webkit-backface-visibility: hidden;

  backface-visibility: hidden;
}

a.btn-border span {
  position: relative;
  display: block;

  padding: 0.4rem 0.6rem;

  color: #000;
  border: 2px solid #000;
  border-radius: 0.5rem;
  background: #fff;
}

a.btn-border:hover {
  margin: 4px 4px 12px;
  padding: 6px;
}


.header-navigation {
  position: relative;
  left: 290px;
  width: 60%;
  background-color: #ffffff;
}

.header-navigation:after {
  clear: both;
  display: block;
  content: " ";
}

.header-navigation li {
  float: left;
  position: relative;
  left: 20px;
  top: 33px;
  padding: 0 30px;
  text-align: center;
  list-style-type: none;
  font-size: 18px;
}

.header-navigation li a {
  color: #333;
  text-decoration: none;
}