header {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  font-family: "Corporate-Logo";
}

.container-fluid {
  height: 100vh;
  background-image: url(../images/pain.jpg);
  text-align: center;
  padding-top: 10vh;
}

.navbar-laravel {
  position: relative;
  bottom: 70px;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #CCCCCC;
}

.navbar-brand {
  color: #fff !important;
  font-size: 35px;
}

.navbar-nav {
  font-size: 25px;
}

.nav-link a {
  display: inline-block;
  position: relative;
  left: 150px;
  margin-right: 100px;
  list-style: none;
  padding: 10px;
  color: #fff;
  font-size: 25px;
}

.nav-item a {
  color: #fff !important;
  position: relative;
  right: 80px;
  font-size: 19px;
}

.fa-bread-slice {
  color: #fff;
  position: relative;
  right: 5px;
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: rgba(100, 100, 100, 0);
}

.jumbotron h1,
.jumbotron .h1 {
  color: #fff;
}

.jumbotron h6 {
  color: #fff;
  font-size: 30px;
  font-weight: lighter;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

.jumbotron > hr {
  border-top-color: #d5d5d5;
}

.container .jumbotron,
.container-fluid .jumbotron {
  border-radius: 6px;
}

.jumbotron .container {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .container .jumbotron,
.container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }

  .jumbotron h1,
.jumbotron .h1 {
    font-size: 100px;
  }
}
strong {
  text-shadow: 1px 1px 1px #808080;
}

.btn {
  display: inline-block;
  padding: 0.75em 3em;
  border: 2px solid #333;
  border-radius: 3em 0.5em 2em 0.5em/0.4em 2em 0.5em 3em;
  color: #333;
  text-decoration: none;
  text-align: center;
}